<h1 class="text-2xl font-bold mb-4">Liste des Transactions</h1>
<a
  routerLink="/add"
  class="inline-block mb-4 bg-pink-600 text-white px-4 py-2 rounded hover:bg-gray-400"
>
   Ajouter une transaction
</a>
<form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="mb-4 space-y-2">
  <div class="flex flex-wrap gap-2">
    <input formControlName="categorie" placeholder="Catégorie" class="border p-2 rounded" />
    
    <select formControlName="type" class="border p-2 rounded">
      <option value="">Tous</option>
      <option value="income">Revenu</option>
      <option value="expense">Dépense</option>
    </select>

    <input type="date" formControlName="startDate" class="border p-2 rounded" />
    <input type="date" formControlName="endDate" class="border p-2 rounded" />

    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
      Filtrer
    </button>
    <button type="button" (click)="resetFilters()" class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400">
      Réinitialiser
    </button>
  </div>
</form>

<table class="w-full table-auto border-collapse border border-gray-300">
  <thead>
    <tr class="bg-gray-100">
      <th class="border px-4 py-2">Description</th>
      <th class="border px-4 py-2">Montant</th>
      <th class="border px-4 py-2">Date</th>
      <th class="border px-4 py-2">Type</th>
      <th class="border px-4 py-2">Catégorie</th>
      <th class="border px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td class="border px-4 py-2">{{ transaction.description }}</td>
      <td class="border px-4 py-2">{{ transaction.montant | currency:'MAD':'symbol' }}</td>
      <td class="border px-4 py-2">{{ transaction.date | date }}</td>
      <td class="border px-4 py-2">{{ transaction.type }}</td>
      <td class="border px-4 py-2">{{ transaction.categorie }}</td>
      <td class="border px-4 py-2 space-x-2">
        <a [routerLink]="['/edit', transaction.id]" class="text-blue-600 hover:underline">Modifier</a>
        <button (click)="onDelete(transaction.id!)" class="text-red-600 hover:underline">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
